<section class="product__container">
  <div class="product-image__container">
    <img src="public/produto.jpg" alt="Produto exemplo" />
  </div>

  <div class="product-description__container">
    <h2 class="product__name">Nome do Produto</h2>
    <p class="product__price">R$ 199,90</p>
    <p class="product__availability">Disponível em estoque</p>

    <label>
      Quantidade:
      <input type="number" min="1" value="1" />
    </label>

    <button>Adicionar ao Carrinho</button>
  </div>
</section>
