<app-progress-bar [currentStep]="currentStep"></app-progress-bar>

<div class="mt-6">
  <!-- Etapa 1: Carrinho -->
  <app-step-cart 
    *ngIf="currentStep === 1" 
    [cart]="orderData.cart" 
    (next)="goToStep(2)" 
    (cartData)="orderData.cart = $event">
  </app-step-cart>

  <!-- Etapa 2: Endereço -->
  <app-step-address 
    *ngIf="currentStep === 2" 
    (next)="goToStep(3)" 
    (back)="goToStep(1)" 
    (addressData)="orderData.address = $event">
  </app-step-address>

  <!-- Etapa 3: Entrega -->
  <app-step-delivery 
    *ngIf="currentStep === 3" 
    (next)="goToStep(4)" 
    (back)="goToStep(2)" 
    (deliveryData)="orderData.delivery = $event">
  </app-step-delivery>

  <!-- Etapa 4: Pagamento -->
  <app-step-payment 
    *ngIf="currentStep === 4" 
    (next)="goToStep(5)" 
    (back)="goToStep(3)" 
    (paymentData)="orderData.payment = $event">
  </app-step-payment>

  <!-- Etapa 5: Revisão -->
  <app-step-review 
    *ngIf="currentStep === 5" 
    [orderData]="orderData" 
    (finish)="finishOrder()" 
    (back)="goToStep(4)">
  </app-step-review>
  <!-- Etapa 6: Conclusão -->
 <app-step-complete 
  *ngIf="currentStep === 6" 
  [rastreio]="rastreio" 
  [statusPedido]="statusPedido"
  [paymentMethod]="orderData.payment.metodo"
  [pixCode]="'00020126360014BR.GOV.BCB.PIX...'"
  [urlPagamento]="urlPagamento"> 
</app-step-complete>