<!-- Banner de aviso -->
<div *ngIf="mostrarAvisoCookies"
  class="fixed bottom-6 left-6 right-6 md:left-10 md:right-10 bg-gray-900 text-white p-6 md:p-8 rounded-lg shadow-lg flex flex-col md:flex-row items-center justify-between z-50 transition duration-300 ease-in-out">

  <div class="flex items-center gap-3 mb-4 md:mb-0">
    <p class="text-sm md:text-base">
      Este site utiliza cookies para melhorar sua experiência.
      Ao continuar navegando, você concorda com nossa política de cookies.
    </p>
  </div>

  <div class="flex gap-3 items-center">
    <button type="button" class="bg-blue-600 px-4 py-2 rounded-md hover:bg-blue-700 transition"
      (click)="aceitarCookies()">
      Aceitar Cookies
    </button>

    <button type="button" class="bg-gray-600 px-4 py-2 rounded-md hover:bg-gray-700 transition"
      (click)="recusarCookies()">
      Recusar
    </button>
  </div>
</div>

<!-- Painel lateral -->
<app-cookie-panel *ngIf="mostrarPainel" (fechar)="mostrarPainel = false"></app-cookie-panel>

<!-- Botão flutuante fixo -->
<div class="fixed bottom-6 right-6 z-50">
  <button (click)="abrirPainelCookies()"
    class="bg-yellow-500 w-16 h-16 flex items-center justify-center rounded-full shadow-lg hover:scale-110 transition duration-300 ease-in-out">
    <img src="assets/icons/cookies.png" alt="Cookie Icon" class="w-17 h-17" />
  </button>
</div>